<!DOCTYPE html>
<html lang="en">

<head>
    <title>Project For Code Immersives</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <header>Movies Now Playing</header>
    <h2> <%= myData.original_title %> </h2>
    <p> <%= myData.overview %> </p>
    <img src="<%=backdrop%>" alt="this is an image">

    <script src="./main.js"></script>
</body>

</html>