<!DOCTYPE html>
<html lang="en">

<head>
    <title>Project For Code Immersives</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <h1>Movie Now Playing</h1>
    <% data.forEach(element => { %>
        <div style = "background-color: whitesmoke; margin-top: 10px;">
            <h3><%= element.original_title %> </h3>
            <% let backdrop = `http://image.tmdb.org/t/p/w500${element.backdrop_path}` %> 
            <img src="<%= backdrop %> " alt="">
            <p><%= element.overview %> </p>
        </div>
    <% }) %>
   
</body>

</html>