<!DOCTYPE html>
<html lang="en">

<head>
    <title>Project For Code Immersives</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <h1>Movie Now Playing</h1>

    <% data.forEach(element => { %>
    <div class="movie-section">
        <% let backdrop = `http://image.tmdb.org/t/p/w400${element.poster_path}` %>
        <img src="<%= backdrop %> " alt="">
        <div class="movie-overview">
            <h2><%= element.original_title %> </h2>
            <p><%= element.overview %> </p>
        </div>
    </div>
    <% }) %>

</body>

</html>