<!DOCTYPE html>
<html lang="en">

<head>
    <title>Project For Code Immersives</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <h1 style ="text-align: center;">Movie Now Playing</h1>
    <% data.forEach(element => { %>
        <div style = "background-color: black; color: whitesmoke; margin: 10px auto; display: flex; width: 1000px">
            <% let backdrop = `http://image.tmdb.org/t/p/w500${element.poster_path}` %> 
            <img src="<%= backdrop %> " alt="" style="display: inline-block;">
            <div style="display: inline-block; padding-top: 20px; padding-left: 20px; width: 400px">
                <h3><%= element.original_title %> </h3>
                <p><%= element.overview %> </p>
            </div>
        </div>
    <% }) %>
   
</body>

</html>